<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="HandBrake_Encoder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <HandBrake_Encoder.Properties.Settings>
            <setting name="HandBrakeCLILocation" serializeAs="String">
                <value>C:\Program Files\HandBrake\HandBrakeCLI.exe</value>
            </setting>
            <setting name="HandBrakeCMD" serializeAs="String">
                <value>-t 1 -c 1 -f mp4 -X 480 -e x264 -q 20 -a 1 -E faac -6 auto -R Auto -B 96 -D 0 -x cabac=0:ref=2:me=umh:bframes=3:subq=6:8x8dct=0:trellis=0:weightb=0:merange=24 -v 1</value>
            </setting>
            <setting name="DefaultEncodeLocation" serializeAs="String">
                <value />
            </setting>
        </HandBrake_Encoder.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
